/* Components
------------------------------------------------------------*/

// ===== loading =====
.c-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  background-color: $main-bg-cl;
  z-index: 99;
  transition: 0.6s ease-out;
  pointer-events: none;

  &.is-done {
    background-color: unset;
    opacity: 0;
    visibility: hidden;
  }

  &_container {
    background-image: url(/assets/img/bg-noise.webp);
    width: 100%;
    height: 100%;
  }

  &_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    mix-blend-mode: multiply;

    opacity: 0;
    transition: opacity 1s ease-out;

    &.is-fade {
      opacity: 1;
    }

    img {
      width: 74px;
      height: auto;
      object-fit: contain;
    }

    @include maxW(1023px) {
      img {
        width: 50px;
      }
    }
  }
}

// ===== modal =====
.blocker {
  padding: 0;
  z-index: 1001;
  background-color: $modal-cl;
}
.close-modal {
  display: none !important;
}
.modal {
  width: 100%;
  height: 100%;
  width: 100%;
  max-width: inherit;
  background-color: $main-bg-cl;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  transition: all 0.6s ease-in-out;

  &-wrap {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/bg-noise.webp);
  }

  &-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;

    @include maxW(1023px) {
      display: block;
      overflow: auto;
    }
  }

  &-dialog {
    width: 100%;
    height: 100%;
  }

  &-close {
    position: fixed;
    top: 60px;
    right: 67px;
    z-index: 2;
    cursor: pointer;
    height: 40px;
    width: 40px;
    mix-blend-mode: difference;
    filter: invert(1);

    span {
      &:before,
      &:after {
        background: #000;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        top: 20px;
        width: 40px;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    @include maxW(1023px) {
      top: 22px;
      right: 22px;
      width: 20px;
      height: 20px;

      &:after {
        content: "";
        height: 40px;
        width: 40px;
        position: absolute;
        right: -10px;
        top: -10px;
      }

      span {
        &:before,
        &:after {
          top: 10px;
          width: 20px;
        }
      }
    }
  }

  &-swiper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    figure {
      display: block;
      z-index: 1;
      position: relative;
      height: 100%;
      padding-bottom: calc(812 / 712 * 100%);
      background-color: #000;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .pagination {
      position: absolute;
      bottom: 40px;
      right: auto;
      padding: 0 40px;
      text-align: left;
      display: flex;
      gap: 10px;
      z-index: 1;

      .swiper-pagination-bullet {
        width: 30px;
        height: 1px;
        border-radius: 0;
        position: relative;
        overflow: hidden;
        background: rgb(255 255 255 / 0.3);
        opacity: 1;
        margin: 0;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      .swiper-pagination-bullet-active::before {
        background: #fff;
        animation: 6s cubic-bezier(0.3, 0, 0.3, 1) forwards slide-progress;
      }

      @include maxW(1023px) {
        bottom: 22px;
        padding: 0 22px;
        gap: 10px;
      }

      @keyframes slide-progress {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }
    }

    @include maxW(1023px) {
      height: auto;

      figure {
        padding-bottom: calc(552 / 414 * 100%);
      }
    }
  }

  &-right {
    width: 100%;
    padding: 157px 76px;
    position: relative;

    @include maxW(1023px) {
      padding: 42px 22px 105px;
    }
  }

  &-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-heading {
    position: absolute;
    top: 0;
    right: 0;

    h3 {
      font-size: 2.2rem;
      font-weight: 300;
      letter-spacing: 0.528px;
      writing-mode: vertical-lr;
    }

    @include maxW(1023px) {
      position: unset;

      h3 {
        font-size: 1.8rem;
        letter-spacing: 0.72px;
        line-height: 1.58;
        writing-mode: initial;
      }
    }
  }

  &-desc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    width: 90%;

    p {
      font-size: 1.6rem;
      letter-spacing: 0.288px;
      writing-mode: vertical-lr;
    }

    @include maxW(1023px) {
      display: block;
      width: 100%;
      margin-top: 40px;

      p {
        font-size: 1.4;
        letter-spacing: 0.56px;
        line-height: 1.8;
        writing-mode: initial;
      }
    }
  }

  &-bottom {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    @include maxW(1023px) {
      position: fixed;
      bottom: 10px;
      left: 0;
      transform: none;
      width: 100%;
      padding: 0 10px;
      z-index: 5;
    }
  }

  &-btn {
    display: block;
    position: relative;
    cursor: pointer;

    p,
    a {
      font-size: 1.5rem;
      letter-spacing: 0.6px;
    }

    p {
      display: block;
      background: $black-cl;
      width: 250px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: $white-cl;
      border-radius: 5px;
    }

    .dropdown {
      min-width: 100%;
      padding: 20px;
      position: absolute;
      bottom: 47px;
      background: $black-cl;
      z-index: -1;
      transition: 0.5s padding;
      border-radius: 5px;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;

      & > * {
        overflow: hidden;
        width: 100%;
        height: 50px;
        background: $white-cl;
        line-height: 50px;
        text-align: center;
        border-radius: 5px;
        transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5),
          0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5),
          0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color,
          0.2s background-color;

        &:first-child {
          margin-bottom: 20px;
        }
      }
    }

    &:not(:hover) > .dropdown {
      padding: 0;
      margin: 0;
      transition: 2s padding;
    }

    &:not(:hover) > .dropdown > * {
      visibility: hidden;
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin,
        0.3s color, 0.6s visibility;
    }

    @include maxW(1023px) {
      p,
      a {
        font-size: 1.4rem;
        letter-spacing: 0.56px;
      }

      p {
        width: 100%;
        height: 55px;
        line-height: 55px;
      }

      .dropdown {
        padding: 22px 12px;

        & > * {
          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  &-controls {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      cursor: pointer;
    }

    @include maxW(1023px) {
      margin-top: 48px;
      gap: 12px;
      position: initial;
      flex-direction: initial;
      transform: none;
    }
  }
}
