/* Footer
------------------------------------------------------------*/

.c-footer {
  &_container {
    padding: 197px 50px 45px;

    h2 {
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 0.64px;
      line-height: 1.69;
    }

    @include maxW(1023px) {
      padding: 117px 22px 20px;

      h2 {
        font-size: 1.5rem;
        letter-spacing: 0.6px;
        line-height: 1.53;
      }
    }
  }

  &_wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    a,
    p,
    span {
      font-size: 1.4rem;
      letter-spacing: 0.56px;
      line-height: 1.59;
      display: inline-block;
    }

    @include maxW(1023px) {
      display: block;
      margin-top: 25px;

      a,
      p,
      span {
        font-size: 1.3rem;
        line-height: 1.85;
        letter-spacing: 0.52px;
        display: block;
      }
    }
  }

  &_left {
    span {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  &_right {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    .group {
      display: flex;
      gap: 25px;
    }

    @include maxW(1023px) {
      margin-top: 116px;
      align-items: flex-end;
      gap: 15px;

      .group {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
