/* layout
------------------------------------------------------------*/
@-ms-viewport {
  width: device-width;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-color: $main-bg-cl;
  color: $main-text-cl;
  font-family: $main-fonts;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1;
  position: relative;
  overflow-x: hidden;

  &:after {
    content: "";
    top: 0;
    left: 0;
    background-color: $modal-cl;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    pointer-events: none;
  }

  &.--overlay:after {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
  }

  &.--pointer-none {
    pointer-events: none !important;
  }

  &.--disable-scroll {
    overflow: hidden !important;
  }
}

//-------------------------------------------------------
main {
  flex: 1;
}

::selection {
  background: #ededed;
  color: #000;
}
