/* Utils
------------------------------------------------------------*/

/* lazy loading */
main .lazy {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;

  &.loaded {
    opacity: 1;
  }
}

/* ufade */
.ufade {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;

  &.fadein {
    opacity: 1;
  }
}

/* only device */
.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1023px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
